:deep(.upload-demo *) {
  background-color: transparent;
}

.upload-demo {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: scroll;
}

.newPost-page {
  position: relative;
  height: 100%;
  min-height: 80vh;
  width: 100%;
  /* overflow: hidden; */
  background-color: rgba(26, 27, 30);
}

.newPost-page__center {
  position: relative;
  width: 55%;
  height: 100%;
  left: 10%;
  /* top: 50%; */
  /* transform: translate(-50%, 0); */
  padding-bottom: 30px;
  display: flex;
}

.newPost-page__center__left {
  position: relative;
  width: 95%;
  overflow: scroll;

}

.newPost-page__center__right {
  height: 100%;
  width: 25%;
  max-width: 400px;
  position: fixed;
  top: 150px;
  left: calc(40% + 450px);
}

.newPost-page__center :deep(.el-breadcrumb__inner) {
  color: white;
}


.cover-uploader {
  display: flex;
  justify-content: left;
}

.loadding {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 34px;
  width: 34px;
  border-radius: 17px;
  background-color: rgba(44, 46, 51);
  font-size: 20px;
  line-height: 36px;
  color: white;
  font-weight: 700;
  border-top: rgba(25, 113, 194) 1px solid;
  margin-bottom: 20px;
  animation: roll 1s linear infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background-color: rgba(44, 46, 51);
  font-size: 20px;
  line-height: 36px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

:deep(.cover-uploader .el-upload) {
  border: 1px dashed grey;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(37, 38, 43);
  transition: var(--el-transition-duration-fast);
}

:deep(.cover-uploader .el-upload:hover) {
  border-color: grey;
}

:deep(.el-icon.cover-uploader-icon) {
  font-size: 28px;
  color: #8c939d;
  width: 100%;
  height: 178px;
  text-align: center;
}

.label {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.important {
  color: rgba(224, 49, 49);
}

.type-selecter {
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: rgba(37, 38, 43);
  cursor: pointer;
  display: flex;
  color: white;
  transition: all 0.3s;
  user-select: none;
  border: rgba(55, 58, 64) 1px solid;
}

.type-select {
  position: absolute;
  margin-top: 10px;
  width: 340px;
  border-radius: 10px;
  background-color: rgba(37, 38, 43);
  padding: 5px;
  z-index: 10;
  max-height: 100px;
  overflow: scroll;
  user-select: none;
}

.type-select__item {
  position: relative;
  padding-left: 15px;
  width: calc(100% - 0px);
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.type-select__item:hover {
  background-color: rgba(56, 58, 64);
  cursor: pointer;
}

.input {
  position: relative;
  width: 90%;
  float: left;
  height: 30px;
  outline: none;
  border-radius: 5px;
  background-color: rgba(37, 38, 43);
  color: rgba(255, 255, 255, 0.7);
  padding-left: 10px;
}

.newPost-page__center__right__Preview {
  height: 700px;
  width: calc(100% - 20px);
  padding: 10px;
  border: rgba(255, 255, 255, 0.4) 1px solid;
  border-radius: 10px;
}

.button-group {
  position: relative;
  /* height: 50px; */
  width: 100%;
}

.button-group__save {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  background-color: rgba(37, 38, 43);
  color: white;
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  margin-top: 5px;
  transition: all 0.3s;
}

.button-group__submit {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  background-color: rgba(0, 122, 204);
  color: white;
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  margin-top: 15px;
  transition: all 0.3s;
}

.dither-animation {
  top: 36px;
}

.revolve-animation {
  transform: rotateZ(180deg);
  transform-origin: 6px 3px;
}

.button-group__submit:hover {
  background-color: rgba(20, 142, 224);
}

.formWarning {
  border: rgba(224, 49, 49) 1px solid;
}

:deep(.el-formWarning .el-upload-dragger) {
  border: rgba(224, 49, 49) 1px dashed;
}

.formDefault {
  border: rgba(55, 58, 64) 1px solid;
}

:deep(.el-formDefault .el-upload-dragger) {
  border: rgba(55, 58, 64) 1px dashed;
}