/*
 * @Author: Dhx
 * @Date: 2023-12-07 16:10:48
 * @Description: 
 * @FilePath: \RvcWeb\src\assets\css\post\postContent.css
 */
.post-content {
    word-break: break-word !important;
    word-wrap: break-word !important;}

.post-content * {
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.post-content img {
    max-width: 100% !important;
    height: auto !important;
}

.post-content * a {
    /* text-decoration: none; */
}
code * {
    width: 100% !important;
    word-break: break-word !important;
    word-wrap: break-word !important;
    display: block !important;
    overflow: hidden !important;
    white-space: normal !important;
}