.model-comments {
    width: 100%;
    background-color: rgba(26, 27, 30);
}

.dialog-title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 14px;
    color: rgba(193, 194, 197);
}

.dialog-input {
    width: 100%;
}

.input {
    outline: none;
    width: calc(100% - 30px);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background-color: rgba(26, 27, 30);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    border: rgba(55, 58, 64) 1px solid;
}

.dialog-footer {
    display: flex;
}

.dialog-footer__cancel {
    color: white;
    height: 35px;
    padding: 0 20px;
    line-height: 35px;
    border-radius: 5px;
    border: rgba(55, 58, 64) 1px solid;
    background-color: rgba(37, 38, 43);
    cursor: pointer;
}

.dialog-footer__cancel:hover {
    background-color: rgba(44, 46, 51);
}

.dialog-footer__confirm {
    position: absolute;
    right: 20px;
    color: white;
    height: 35px;
    padding: 0 20px;
    line-height: 35px;
    border-radius: 5px;
    background-color: rgba(25, 113, 194);
    cursor: pointer;
    user-select: none;
}

.dialog-footer__confirm:hover {
    background-color: rgba(24, 100, 171);
}

.add-comment {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 35px;
    padding: 0 15px;
    border: rgba(51, 154, 240) 1px solid;
    font-size: 16px;
    line-height: 35px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: rgba(51, 154, 240);
}

.add-comment:hover {
    background-color: rgba(28, 34, 40);
}

.model-comments__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 70px;
    left: 50%;
    transform: translate(-50%);
    color: rgba(193, 194, 197);
    font-size: 30px;
    line-height: 70px;
    font-family: 'ZCool';
    border-bottom: solid 3px #cccccc;
}

.model-comments__content {
    position: relative;
    top: 30px;
    width: 75%;
    min-height: 300px;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 50px;
}

.model-comments__content__more {
    cursor: pointer;
    color: white;
}
