.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  background: #212121;
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
}
.intro-back{
  position: fixed;
  width:100%;
  height:100vh;
  z-index: -1;
}

.Introduction {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 900px;
  background-size: cover;

  .Introduction-pic {
    position: absolute;
    top:15%;
    margin-left: 10%;
    background-image: url("https://s2.loli.net/2023/12/14/OFlkw3KranCL7bH.jpg");
    background-size: cover;
    width: 70%;
    height: 70%;
    box-shadow: 5px 5px 15px #3a3a3a;
  }
  .introduction-contain{
    position: absolute;
    flex-direction: column;
    top: 250px;
    right: 10%;
    width: 500px;
    height: 300px;
  }
  .Introduction-card {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 5px 5px 15px #3a3a3a;
    font-family: 宋体, serif;
    .Introduction-card__title {
      height: 15%;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .Introduction-card__contain {
      height: 60%;
      width: 80%;
      font-size: 16px;
      overflow: scroll;
      font-family: 幼圆;
      letter-spacing: 1px;
    }
  }
}

.fixed-strip{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgb(51, 51, 51);
  box-shadow: 0 -1px 10px 2px #ffffff;
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  overflow: hidden;
}
.fixed {
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height: 100px;
  background: rgb(51, 51, 51);
  box-shadow: 0 -1px 10px 2px #ffffff;
  color: rgba(255, 255, 255, 0.57);
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  overflow: hidden;
}

.Functions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  width: 80%;
  margin-left: 10%;
  height: 600px;

  .Functions-title {
    grid-column: 1 / span 4;
    color: white;
    font-size: 30px;
  }
  .Function {
    margin-left: 5%;
    width: 90%;
    height: 200px;
    text-align: center;
    background: rgba(70, 70, 70, 0.98);
    box-shadow: 0px 0px 10px 3px #dcdcdc;
    color:#ffffff;
    font-family: 方正姚体;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 20px;
    .Function-tool {
      width: 100%;
      height: 20%;
    }
    .Function-img {
      width: 80%;
      height: 70%;
      margin-left: 10%;
      border-radius: 40px;
      overflow: hidden;
      box-shadow: 0px 0px 10px 3px #dcdcdc;
    }
    .Function-img img {
      width: 100%;
    }
  }
}
.Team {
  width: 100%;
  height: 1000px;
  flex-direction: column;
  .team-title{
    width:80%;
    height:10%;
    margin-top:10%;
    font-size:30px;
    color:#ffffff;
  }
  .team-list{
    margin-top: -10%;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    /* 透视效果，观察者与z=0平面的距离 */
    transform-origin: center;
    /* 变形原点为中心 */
  }
  .team-content {
    display: flex;
    /* 设置为弹性盒子布局 */
    justify-content: center;
    /* 主轴居中对齐 */
    align-items: center;
    /* 交叉轴居中对齐 */
    position: absolute;
    /* 绝对定位 */
    width: 100%;
    /* 宽度100% */
    height: 100%;
    /* 高度100% */
    transform-origin: center;
    /* 变形原点为中心 */
    transform-style: preserve-3d;
    /* 保持3D变换 */
    transform: translateZ(-30vw) rotateY(0);
    /* 变换：沿z轴平移-30vw，绕y轴旋转0度 */
    animation: carousel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
    /* 动画：名称为carousel，持续时间9秒，无限循环，缓动函数为cubic-bezier(0.77, 0, 0.175, 1)，动画结束后保持最后状态 */
  }
  .team-item {
    overflow: hidden;
    position: absolute;
    /* 绝对定位 */
    width: 100%;
    /* 宽度占视口宽度的60% */
    height: 100%;
    /* 高度占视口高度的40% */
    max-width: 350px;
    /* 最大宽度为380像素 */
    max-height: 350px;
    /* 最大高度为250像素 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    /* 设置阴影 */
    border-radius: 6px;
    /* 边框圆角半径为6像素 */
    background-size: cover;
    /* 背景图片等比例缩放并覆盖整个容器 */
    -webkit-box-reflect: below 25px -webkit-linear-gradient(transparent 50%, rgba(255, 255, 255, 0.3));
    /* 创建倒影效果 */
    border: 25px dotted #ffffff;
  }
  .team-item__img{
    height:100%;
  }
  /* 第一个项目样式 */
  .team-item:nth-child(1) {
    transform: rotateY(0) translateZ(35vw);
    /* 变换：绕y轴旋转0度，沿z轴平移35vw */
  }
  /* 第二个项目样式 */
  .team-item:nth-child(2) {
    transform: rotateY(60deg) translateZ(35vw);
    /* 变换：绕y轴旋转120度，沿z轴平移35vw */
  }
  /* 第三个项目样式 */
  .team-item:nth-child(3) {
    transform: rotateY(120deg) translateZ(35vw);
    /* 变换：绕y轴旋转240度，沿z轴平移35vw */
  }
  .team-item:nth-child(4) {
    transform: rotateY(180deg) translateZ(35vw);
    /* 变换：绕y轴旋转240度，沿z轴平移35vw */
  }
  .team-item:nth-child(5) {
    transform: rotateY(240deg) translateZ(35vw);
    /* 变换：绕y轴旋转240度，沿z轴平移35vw */
  }
  .team-item:nth-child(6) {
    transform: rotateY(300deg) translateZ(35vw);
    /* 变换：绕y轴旋转240度，沿z轴平移35vw */
  }
  .team-item__message{
    font-family: 幼圆 ;
    position: absolute;
    flex-direction: column;
    bottom:0;
    width:100%;
    height:50%;
    background: linear-gradient(to top, #696969, rgba(255, 255, 255, 0));
  }
  .NickName{
    color: rgba(255, 255, 255, 0.78);
    height:50%;
    width:100%;
    font-size: 30px;
  }
  .Description{
    color: rgba(255, 255, 255, 0.62);
    height:30%;
    width:100%;
  }
  .Role{
    color:rgba(255, 255, 255, 0.62);
    height:20%;
    width:100%;
  }
}
/* 定义动画 */
@keyframes carousel {
  5%,
  10% {
    transform: translateZ(-35vw) rotateY(0);
    /* 变换：沿z轴平移-35vw，绕y轴旋转0度 */
  }

  15%,
  25% {
    transform: translateZ(-35vw) rotateY(-60deg);
    /* 变换：沿z轴平移-35vw，绕y轴旋转-120度 */
  }

  30%,
  40% {
    transform: translateZ(-35vw) rotateY(-120deg);
    /* 变换：沿z轴平移-35vw，绕y轴旋转-240度 */
  }

  45%,
  55% {
    transform: translateZ(-35vw) rotateY(-180deg);
    /* 变换：沿z轴平移-35vw，绕y轴旋转-360度 */
  }

  60%,
  70% {
    transform: translateZ(-35vw) rotateY(-240deg);
    /* 变换：沿z轴平移-35vw，绕y轴旋转-360度 */
  }
  75%,
  85% {
    transform: translateZ(-35vw) rotateY(-300deg);
    /* 变换：沿z轴平移-35vw，绕y轴旋转-360度 */
  }
  90%,
  95% {
    transform: translateZ(-35vw) rotateY(-360deg);
    /* 变换：沿z轴平移-35vw，绕y轴旋转-360度 */
  }
}
.about {
  flex-direction: column;
  width:100%;
  height:400px;
  font-size: 30px;
}
.Versions {
  width: 100%;
  height: 500px;
  .Version-message {
    position: relative;
    left: 10%;
    top: 10%;
    padding: 8px;
    width: 70px;
    font-size: 14px;
    font-family: 微软雅黑;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #dcdcdc;
  }
  .VersionContain {
    position: relative;
    left: 10%;
    top: 60px;
    width: 80%;
    height: 100px;
    font-size: 30px;
    justify-content: left;
    color:#ffffff;
  }
  .Versions-btn {
    position: relative;
    left: 10%;
    top: 100px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    background: #ffffff;
    border-radius: 50px;
    text-decoration-line: none;
    color:#3a3a3a;
    box-shadow: 0px 0px 10px 3px #dcdcdc;
  }
}
