.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  font-family: 方正粗黑宋简体;
  overflow-y: unset;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at left, #d9d2ff, #d7eeff);
}
.contain {
  height: 80%;
  width: 80%;
}
.left {
  flex-direction: column;
  width: 50%;
  height: 100%;
  .title {
    font-size: 35px;
    font-weight: bold;
  }
  .discover {
    font-size: 25px;
    font-weight: bold;
  }
}
.right {
  width: 550px;
  border-radius: 10px;
  background-color:rgba(255,255,255,0.5);

  .center {
    height: 80%;
    width: 100%;
  }
}