@font-face {
    font-family: "ZCool";
    src: url("public/font/ZCOOLKuaiLe-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("public/font/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "NotoSerif";
    src: url("public/font/NotoSerif-Black.ttf");
}