html,
body {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1080px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "ZCool";
  src: url("@/assets//ttf/ZCOOLKuaiLe-Regular.ttf");
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  /* font-family: "ZCool"; */
}

::-webkit-scrollbar {
  display: none;
}

.scroll-text {
  padding-left: 10px;
  height: 100%;
}

.scroll-text:hover {
  animation: scroll linear 8s;
  float: left;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}