@font-face {
    font-family: "ZCool";
    src: url("/font/ZCOOLKuaiLe-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("/font/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "NotoSerif";
    src: url("/font/NotoSerif-Black.ttf");
}