@use "element-plus/theme-chalk/src/index.scss" as *; // all
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *; // html.dark

@import "./_reboot.scss";

html,
body {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 1080px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: "ZCool";
    src: url("public/font/ZCOOLKuaiLe-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("public/font/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "NotoSerif";
    src: url("public/font/NotoSerif-Black.ttf");
}
@font-face {
    font-family: "NotoSerif";
    src: url("public/font/BreeSerif-Regular.ttf");
}
* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-text {
    padding-left: 10px;
    height: 100%;
}

.scroll-text:hover {
    animation: scroll linear 8s;
    float: left;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.vh-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.vertical-center{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.horizontal-center{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.justify-center{
    justify-content: center;
}

//滚动条
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--el-color-primary);
// border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
// border-radius: 5px;
}

.text-left{
    text-align: left;
}

.font-white{
    color: white;
}
